<mat-toolbar color="primary" style="height:80px;">
  <mat-toolbar-row>
          <button (click)="sidenav.toggle()" mat-button><mat-icon>menu</mat-icon></button>
    <h1 class="head1">KİTHUB</h1>
    <span class="menu-spacer"></span>
    <div class="addbutton" >
      <button mat-button *ngIf="router.url == '/publishers'" aria-label="Example icon-button with a heart icon" routerLink="add-publisher">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button *ngIf="router.url == '/authors'" aria-label="Example icon-button with a heart icon" routerLink="add-author">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-button *ngIf="router.url == '/books'" aria-label="Example icon-button with a heart icon" routerLink="add-book">
              <mat-icon>add</mat-icon>
            </button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container (click)="sidenav.close()">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      
      <a mat-list-item [routerLink]="'/publishers'"> Publishers </a>
      <a mat-list-item [routerLink]="'/authors'"> Authors </a>
      <a mat-list-item [routerLink]="'/books'"> Books </a>



    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height:88vh;">
      <div class="mainarea" style="height: 88vh;" *ngIf="router.url == '/'"><app-home></app-home></div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
