/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mainarea{
    background-image: url('./assets/background.jpg');
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 500 45px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: auto;
}

.material-icons {

    font-size: 36px;
    margin-bottom: 8px;
}

.mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    min-width: 200px;
    min-height: 200px;
}


body {
    margin: 0;
    padding: 0;
}
